<h1><center>Polling</center></h1>

<div class="hello-msg">Hello, {{request.user}}
	<a  class="hello-msg" href="{% url 'logout' %}">Logout</a>

	
</div>

<p><b> Country: </b>
    <form method="post" action = '/save/' >
		{% csrf_token %}
		<select name = "county_choice" class = "form-control">
			<option value="1">United States</option>
			<option value="2">Afghanistan</option>
			<option value="3">Albania</option>
			<option value="4">Algeria</option>
			<option value="5">American Samoa</option>
			<option value="6">Andorra</option>
			<option value="7">Angola</option>
			<option value="8">Anguilla</option>
			<option value="9">Antarctica</option>
			<option value="10">Antigua And Barbuda</option>
			<option value="11">Argentina</option>
			<option value="12">Armenia</option>
			<option value="13">Aruba</option>
			<option value="14">Australia</option>
			<option value="15">Austria</option>
			<option value="16">Azerbaijan</option>
			<option value="17">Bahamas</option>
			<option value="18">Bahrain</option>
			<option value="19">Bangladesh</option>
			<option value="20">Barbados</option>
			<option value="21">Belarus</option>
			<option value="22">Belgium</option>
			<option value="23">Belize</option>
			<option value="24">Benin</option>
			<option value="25">Bermuda</option>
			<option value="26">Bhutan</option>
			<option value="27">Bolivia</option>
			<option value="28">Bosnia And Herzegowina</option>
			<option value="29">Botswana</option>
			<option value="30">Bouvet Island</option>
			<option value="31">Brazil</option>
			<option value="32">Brunei Darussalam</option>
			<option value="33">Bulgaria</option>
			<option value="34">Burkina Faso</option>
			<option value="35">Burundi</option>
			<option value="36">Cambodia</option>
			<option value="37">Cameroon</option>
			<option value="38">Canada</option>
			<option value="39">Cape Verde</option>
			<option value="40">Cayman Islands</option>
			<option value="41">Central African Rep</option>
			<option value="42">Chad</option>
			<option value="43">Chile</option>
			<option value="44">China</option>
			<option value="45">Christmas Island</option>
			<option value="46">Cocos Islands</option>
			<option value="47">Colombia</option>
			<option value="48">Comoros</option>
			<option value="49">Congo</option>
			<option value="50">Cook Islands</option>
			<option value="51">Costa Rica</option>
			<option value="52">Cote D`ivoire</option>
			<option value="53">Croatia</option>
			<option value="54">Cuba</option>
			<option value="55">Cyprus</option>
			<option value="56">Czech Republic</option>
			<option value="57">Denmark</option>
			<option value="58">Djibouti</option>
			<option value="59">Dominica</option>
			<option value="60">Dominican Republic</option>
			<option value="61">East Timor</option>
			<option value="62">Ecuador</option>
			<option value="63">Egypt</option>
			<option value="64">El Salvador</option>
			<option value="65">Equatorial Guinea</option>
			<option value="66">Eritrea</option>
			<option value="67">Estonia</option>
			<option value="68">Ethiopia</option>
			<option value="69">Falkland Islands (Malvinas)</option>
			<option value="70">Faroe Islands</option>
			<option value="71">Fiji</option>
			<option value="72">Finland</option>
			<option value="73">France</option>
			<option value="74">French Guiana</option>
			<option value="75">French Polynesia</option>
			<option value="76">French S. Territories</option>
			<option value="77">Gabon</option>
			<option value="78">Gambia</option>
			<option value="79">Georgia</option>
			<option value="80">Germany</option>
			<option value="81">Ghana</option>
			<option value="82">Gibraltar</option>
			<option value="83">Greece</option>
			<option value="84">Greenland</option>
			<option value="85">Grenada</option>
			<option value="86">Guadeloupe</option>
			<option value="87">Guam</option>
			<option value="88">Guatemala</option>
			<option value="89">Guinea</option>
			<option value="90">Guinea-bissau</option>
			<option value="91">Guyana</option>
			<option value="92">Haiti</option>
			<option value="93">Honduras</option>
			<option value="94">Hong Kong</option>
			<option value="95">Hungary</option>
			<option value="96">Iceland</option>
			<option value="97">India</option>
			<option value="98">Indonesia</option>
			<option value="99">Iran</option>
			<option value="100">Iraq</option>
			<option value="101">Ireland</option>
			<option value="102">Israel</option>
			<option value="103">Italy</option>
			<option value="104">Jamaica</option>
			<option value="105">Japan</option>
			<option value="106">Jordan</option>
			<option value="107">Kazakhstan</option>
			<option value="108">Kenya</option>
			<option value="109">Kiribati</option>
			<option value="110">Korea (North)</option>
			<option value="111">Korea (South)</option>
			<option value="112">Kuwait</option>
			<option value="113">Kyrgyzstan</option>
			<option value="114">Laos</option>
			<option value="115">Latvia</option>
			<option value="116">Lebanon</option>
			<option value="117">Lesotho</option>
			<option value="118">Liberia</option>
			<option value="119">Libya</option>
			<option value="120">Liechtenstein</option>
			<option value="121">Lithuania</option>
			<option value="122">Luxembourg</option>
			<option value="123">Macau</option>
			<option value="124">Macedonia</option>
			<option value="125">Madagascar</option>
			<option value="126">Malawi</option>
			<option value="127">Malaysia</option>
			<option value="128">Maldives</option>
			<option value="129">Mali</option>
			<option value="130">Malta</option>
			<option value="131">Marshall Islands</option>
			<option value="132">Martinique</option>
			<option value="133">Mauritania</option>
			<option value="134">Mauritius</option>
			<option value="135">Mayotte</option>
			<option value="136">Mexico</option>
			<option value="137">Micronesia</option>
			<option value="138">Moldova</option>
			<option value="139">Monaco</option>
			<option value="140">Mongolia</option>
			<option value="141">Montserrat</option>
			<option value="142">Morocco</option>
			<option value="143">Mozambique</option>
			<option value="144">Myanmar</option>
			<option value="145">Namibia</option>
			<option value="146">Nauru</option>
			<option value="147">Nepal</option>
			<option value="148">Netherlands</option>
			<option value="149">Netherlands Antilles</option>
			<option value="150">New Caledonia</option>
			<option value="151">New Zealand</option>
			<option value="152">Nicaragua</option>
			<option value="153">Niger</option>
			<option value="154">Nigeria</option>
			<option value="155">Niue</option>
			<option value="156">Norfolk Island</option>
			<option value="157">Northern Mariana Islands</option>
			<option value="158">Norway</option>
			<option value="159">Oman</option>
			<option value="160">Pakistan</option>
			<option value="161">Palau</option>
			<option value="162">Panama</option>
			<option value="163">Papua New Guinea</option>
			<option value="164">Paraguay</option>
			<option value="165">Peru</option>
			<option value="166">Philippines</option>
			<option value="167">Pitcairn</option>
			<option value="168">Poland</option>
			<option value="169">Portugal</option>
			<option value="170">Puerto Rico</option>
			<option value="171">Qatar</option>
			<option value="172">Reunion</option>
			<option value="173">Romania</option>
			<option value="174">Russian Federation</option>
			<option value="175">Rwanda</option>
			<option value="176">Saint Kitts And Nevis</option>
			<option value="177">Saint Lucia</option>
			<option value="178">St Vincent/Grenadines</option>
			<option value="179">Samoa</option>
			<option value="180">San Marino</option>
			<option value="181">Sao Tome</option>
			<option value="182">Saudi Arabia</option>
			<option value="183">Senegal</option>
			<option value="184">Seychelles</option>
			<option value="185">Sierra Leone</option>
			<option value="186">Singapore</option>
			<option value="187">Slovakia</option>
			<option value="188">Slovenia</option>
			<option value="189">Solomon Islands</option>
			<option value="190">Somalia</option>
			<option value="191">South Africa</option>
			<option value="192">Spain</option>
			<option value="193">Sri Lanka</option>
			<option value="194">St. Helena</option>
			<option value="195">St.Pierre</option>
			<option value="196">Sudan</option>
			<option value="197">Suriname</option>
			<option value="198">Swaziland</option>
			<option value="199">Sweden</option>
			<option value="200">Switzerland</option>
			<option value="201">Syrian Arab Republic</option>
			<option value="202">Taiwan</option>
			<option value="203">Tajikistan</option>
			<option value="204">Tanzania</option>
			<option value="205">Thailand</option>
			<option value="206">Togo</option>
			<option value="207">Tokelau</option>
			<option value="208">Tonga</option>
			<option value="209">Trinidad And Tobago</option>
			<option value="210">Tunisia</option>
			<option value="211">Turkey</option>
			<option value="212">Turkmenistan</option>
			<option value="213">Tuvalu</option>
			<option value="214">Uganda</option>
			<option value="215">Ukraine</option>
			<option value="216">United Arab Emirates</option>
			<option value="217">United Kingdom</option>
			<option value="218">Uruguay</option>
			<option value="219">Uzbekistan</option>
			<option value="220">Vanuatu</option>
			<option value="221">Vatican City State</option>
			<option value="222">Venezuela</option>
			<option value="223">Viet Nam</option>
			<option value="224">Virgin Islands (British)</option>
			<option value="225">Virgin Islands (U.S.)</option>
			<option value="226">Western Sahara</option>
			<option value="227">Yemen</option>
			<option value="228">Yugoslavia</option>
			<option value="229">Zaire</option>
			<option value="230">Zambia</option>
			<option value="231">Zimbabwe</option>
		</select>
	</form>
</p>

<input type = "submit" value = "Insert"/>