<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTER</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							{{form.username.label}}
							{{form.username}}
						</div>
						<div class="input-group mb-3">
								{{form.first_name.label}}
								{{form.first_name}}
						</div>
						<div class="input-group mb-3">
								{{form.last_name.label}}
								{{form.last_name}}
						</div>
						<div class="input-group mb-3">
								{{form.email.label}}
								{{form.email}}
						</div>
						<div class="input-group mb-3">
								{{form.password1.label}}
								{{form.password1}}
						</div>
						<div class="input-group mb-3">
								{{form.password2.label}}
								{{form.password2}}
						</div>
				 				<input type = "Submit" name = "Create User">
								Already REGISTERED? <a href='/login/' class="ml-2">Login</a>
				   			</div>
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>